body{
    background-color: darkcyan;
}
#form_datos{
    background-color: ivory;
}
#form_encabezado{
    background-color: rgb(37, 89, 148);
    color: white;
    padding: 1px;
}
#tabla{
    background-color: tomato;
}